html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.facebookDisplay {
z-index: 999;
height: 850px;
width: 392px;
display: flex;
border-radius: 40px;
}

.iphoneImage {
position: absolute;
}

.phoneFullDisplay {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

#dialog {
  /**height: 700px;
  width: 300px;**/
  background-color: #e1f0f7;
  opacity: 93%;
  position: fixed;
  top: 20%;
  margin-top: -100px;
  left: 47%;
  margin-left: -100px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 5px;
  z-index: 999;
  border-radius: 12px;
}

h2 {
  margin: 0%;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-weight: 300;
}