html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.facebookDisplay {
z-index: 999;
height: 850px;
width: 392px;
display: flex;
border-radius: 40px;
}

.iphoneImage {
position: absolute;
}

.phoneFullDisplay {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

#dialog
       {
           height: 200px;
           width: 200px;
           background-color: #c8c8c8;
           border: 1px solid black;
           position: fixed;
           top: 50%;
           margin-top: -100px;
           left: 50%;
           margin-left: -100px;
           display: none;
           padding: 20px;
           z-index: 999;
       }