html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.facebookDisplay {
z-index: 999;
height: 850px;
width: 392px;
display: flex;
border-radius: 40px;
}

.iphoneImage {
position: absolute;
}

.phoneFullDisplay {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}